[submodule "Leaflet.markercluster"]
	path = Leaflet.markercluster
	url = https://github.com/Philhil/Leaflet.markercluster.git
[submodule "DataTables"]
	path = DataTables
	url = https://github.com/DataTables/DataTables
